<link rel="stylesheet" type="text/css" href="/css/_footer.css" />
<footer id="main_footer">
  <p>Copyright 2023 by sanjeev kumar ray. All Rights Reserved.</p>
  <p>twitter-clone is Powered by sanjeev kumar ray</p>
</footer>
