<link rel="stylesheet" type="text/css" href="/css/style.css" />
<div class="main_container_sign_in" >
  <form action="/users/create-session" method="post">
    <h1>user sign in form</h1>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="enter your email"
      required
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="********"
      required
    />
    <button type="submit">submit</button>
  </form>
</div>
